<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.evicord.plugin.Operation" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ImageUtil</name>
	<js-module name="Operation" src="www/Operation.js">
		<clobbers target="cordova.plugins.Operation" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Operation">
				<param name="android-package" value="Operation" />
			</feature>
		</config-file>
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Operation">
				<param name="ios-package" value="Operation" />
			</feature>
		</config-file>
        <header-file src="src/ios/DeviceMacro.h"/>
        <header-file src="src/ios/Operation.h"/>
        <source-file src="src/ios/Operation.m"/>
	</platform>
</plugin>